<h1>SELECCIONE UN RECURSO TECNOLÓGICO</h1>
<div class="container ">
    <p>Paso 2 de 11</p>
    <hr>
    <div class="row">
        <form action="../tomarSeleccionRecursoTecnologico/" method="POST">
            {% csrf_token %}

            <label for="recursoTecnologicoSeleccionado" class="label-readonly mt-2">Recurso:</label>
            <select name="recursoTecnologicoSeleccionado" class="form-select mt-1 mb-4" required>
                {% for recursoTecnologico in recursosTecnologicos %}
                {% if recursoTecnologico.numeroInventario == 12345 %}
                <option value="{{recursoTecnologico.numeroInventario}}" style="background-color: blue; color:white">{{recursoTecnologico.numeroInventario}}</option>
                {% endif %}
                {% if recursoTecnologico.numeroInventario == 12346 %}
                <option value="{{recursoTecnologico.numeroInventario}}" style="background-color: green; color:white">{{recursoTecnologico.numeroInventario}} - {{recursoTecnologico.modelo}} - {{recursoTecnologico.marca}} - {{centroInvestigacion}}</option>
                {% endif %}
                {% if recursoTecnologico.numeroInventario == 12347 %}
                <option value="{{recursoTecnologico.numeroInventario}}" style="background-color: green; color:white">{{recursoTecnologico.numeroInventario}} - {{recursoTecnologico.modelo}} - {{recursoTecnologico.marca}} - {{centroInvestigacion}}</option>
                {% endif %}
                {% endfor %}
            </select>
        
            <div class="submit-container">
                <input type="submit" value="Seleccionar" class="btn btn-primary mb-2">
            </div>
        </form>
    </div>
</div>