<h1>SELECCIONE UN TIPO DE RECURSO TECNOLÓGICO</h1>
<div class="container ">
    <p>Paso 3 de 11</p>
    <hr>
    <div class="row">
        <form action="../mostrarTurnosDeRecursoTecnologico/" method="POST">
            {% csrf_token %}

            <label for="recursoTecnologicoSeleccionado" class="label-readonly mt-2">Recurso:</label>
            <label for="tipoRecursoTecnologicoSeleccionado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{tipoRecursoTecnologicoSeleccionado}}" readonly="true" name="tipoRecursoTecnologicoSeleccionado">
            <input name="recursoTecnologicoSeleccionado" value="{{recursoTecnologicoSeleccionado}}" class="form-select mt-1 mb-4" required>
            <label for="cientificoLogueado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{cientificoLogueado}}" readonly="true" name="cientificoLogueado">

            <H1>Recurso ubicado en su centro de investigación ¿Desea continuar?</H1>
 
            
        
            <div class="submit-container">
                <button><a href="http://127.0.0.1:8000/">Cancelar</a></button>
                <input type="submit" value="Seleccionar" class="btn btn-primary mb-2">
            </div>
        </form>
    </div>
</div>
