{% load static %}

<link 
    rel="stylesheet"
    type="text/css"
    href="{% static 'CentroDeInvestigacion/css/bootstrap.css' %}"
/>
<div class="container" style="padding: 20px">
    <div class="alert alert-warning" role="alert">
        <h1>Detalle del turno:<h1>
        <p>{{recursoTecnologicoSeleccionado}}</p> 
        <p>Fecha del turno: {{turno.fechaHoraInicio}}</p>
        <p>Tipo de Recurso: {{tipoRecursoTecnologicoSeleccionado}}</p>
        <span>{{msg}}</span>
    </div>
</div>





