{% load static %}

<link 
    rel="stylesheet"
    type="text/css"
    href="{% static 'CentroDeInvestigacion/css/bootstrap.css' %}"
/>
<link rel="stylesheet" href="{% static 'fullcalendar/lib/main.css' %}">

<h1>SELECCIONE UN TURNO</h1>
<div class="container ">
    <p>Paso 4 de 11</p>
    <hr>
    <div class="row">
        <form action="../tomarSeleccionTurno/" method="POST">
            {% csrf_token %}

            <label for="tipoRecursoTecnologicoSeleccionado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{tipoRecursoTecnologicoSeleccionado}}" readonly="true" name="tipoRecursoTecnologicoSeleccionado">
            <label for="cientificoLogueado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{cientificoLogueado}}" readonly="true" name="cientificoLogueado">

            <label for="recursoTecnologicoSeleccionado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{recursoTecnologicoSeleccionado}}" readonly="true" name="recursoTecnologicoSeleccionado">
            <label for="cientificoLogueado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{cientificoLogueado}}" readonly="true" name="cientificoLogueado">
            <label for="turnoSeleccionado" class="label-readonly mt-2">Recurso:</label>
            <select name="turnoSeleccionado" class="form-select mt-1 mb-4" required>
                {% for turnoDeRecursoTecnologico in turnosDeRecursoTecnologico %}
                <option value="{{turnoDeRecursoTecnologico.diaSemana}}">{{turnoDeRecursoTecnologico.estado}}</option>
                {% endfor %}
            </select>
        
            <div class="submit-container">
                <input type="submit" value="Seleccionar" class="btn btn-primary mb-2">
            </div>
        </form>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <strong class="card-title">Turnos</strong>
    
                </div>
            </div>
        </div>
    <div id="calendar" class="card" style="padding: 20px">

    </div> 

    
</div>

<script src="{% static 'fullcalendar/lib/main.js' %}"></script>
<script src="{% static 'fullcalendar/lib/locales-all.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var calendarUI = document.getElementById('calendar')
        var calendar = new FullCalendar.Calendar(calendarUI,{
            events: [
                {% for turnoDeRecursoTecnologico in turnosDeRecursoTecnologico %}
                   {% if turnoDeRecursoTecnologico.estado == Reservado %}
                   {
                        title: "{{ turnoDeRecursoTecnologico.estado }}",
                        start: "{{ turnoDeRecursoTecnologico.fechaHoraInicio|date:'Y-m-d' }}",
                        end:   "{{ turnoDeRecursoTecnologico.fechaHoraFin|date:'Y-m-d' }}",
                    },
                   {% endif %}
                    {
                        title: "{{ turnoDeRecursoTecnologico.estado }}",
                        start: "{{ turnoDeRecursoTecnologico.fechaHoraInicio|date:'Y-m-d' }}",
                        end:   "{{ turnoDeRecursoTecnologico.fechaHoraFin|date:'Y-m-d' }}",
                    },
                {% endfor %}
            ]
        });
        calendar.render()
        calendar.setOption('locale', 'es');
    });
</script>