USTED ELIGIÓ UN TURNO

<div class="container ">
    <p>Paso 4 de 11</p>
    <hr>
    <div class="row">
        <form action="../confirmarReserva/" method="POST">
            {% csrf_token %}

        
            <div class="submit-container">
                <input type="submit" value="Seleccionar" class="btn btn-primary mb-2">
            </div>
        </form>
    </div>
    <div id="calendar">

    </div> 
</div>

<div>
    <label>Notificación mail</label>
    <input type="checkbox">
</div>
<div>
    <label>Notificación whatsapp</label>
    <input type="checkbox">
</div>


