USTED ELIGIÓ UN TURNO

<div class="container ">
    <p>Paso 4 de 11</p>
    <hr>
    <div class="row">
        <form action="../confirmarReserva/" method="POST">
            {% csrf_token %}

            <label for="tipoRecursoTecnologicoSeleccionado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{tipoRecursoTecnologicoSeleccionado}}" readonly="true" name="tipoRecursoTecnologicoSeleccionado">
            <label for="cientificoLogueado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{cientificoLogueado}}" readonly="true" name="cientificoLogueado">

            <label for="recursoTecnologicoSeleccionado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{recursoTecnologicoSeleccionado}}" readonly="true" name="recursoTecnologicoSeleccionado">

            <label for="turnoSeleccionado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{turnoSeleccionado}}" readonly="true" name="turnoSeleccionado">
        
            <div class="submit-container">
                <input type="submit" value="Confirmar Reserva" class="btn btn-primary mb-2">
            </div>
        </form>
        <button><a href="http://127.0.0.1:8000/">Cancelar</a></button>
    </div>
    <div id="calendar">

    </div> 
</div>

<div>
    <label>Notificación mail</label>
    <input type="checkbox">
</div>
<div>
    <label>Notificación whatsapp</label>
    <input type="checkbox">
</div>


