{% load static %}

<link 
    rel="stylesheet"
    type="text/css"
    href="{% static 'CentroDeInvestigacion/css/bootstrap.css' %}"
/>


<div class="container" style="padding: 20px">
    <head>
        <h1>Acaba de seleccionar un Turno</h1>
        <p>Paso 4 de 11</p>
        <hr>
    </head>
    <body>
        <h2>¿Desdea recibir una notificacion?</h1>
        
        <div class="row">
            <form action="../confirmarReserva/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        
                <label for="tipoRecursoTecnologicoSeleccionado" class="label-readonly" hidden="true">Responsable logueado: </label><input type="text" class="input-readonly" value="{{tipoRecursoTecnologicoSeleccionado}}" readonly="true" name="tipoRecursoTecnologicoSeleccionado" hidden="true">
                <label for="cientificoLogueado" class="label-readonly" hidden="true">Responsable logueado: </label><input type="text" class="input-readonly" value="{{cientificoLogueado}}" readonly="true" name="cientificoLogueado" hidden="true">
        
                <label for="recursoTecnologicoSeleccionado" class="label-readonly">Responsable logueado: </label><input type="text" class="input-readonly" value="{{recursoTecnologicoSeleccionado}}" readonly="true" name="recursoTecnologicoSeleccionado">
        
                <label for="turnoSeleccionado" class="label-readonly" hidden="true">Responsable logueado: </label><input type="text" class="input-readonly" value="{{turnoSeleccionado}}" readonly="true" name="turnoSeleccionado" hidden="true">
            
                <!--

                <div class="form-check" style="margin-left: 10px; padding-bottom: 5px">
                    <input class="form-check-input" type="checkbox" name="confirmacionMail">
                    <label class="form-check-label" for="flexCheckDefault">
                        Notificación Mail
                    </label>
                </div>
                <div class="form-check" style="margin-left: 10px; padding-bottom: 10px">
                    <input class="form-check-input" type="checkbox" name="confirmacionWhatsapp">
                    <label class="form-check-label" for="flexCheckDefault">
                        Notificación Whatsapp
                    </label>
                </div>

                 <div>
                    <label>Notificación mail</label>
                    <input name="confirmacionMail" type="checkbox">
                </div>
                <div>
                    <label>Notificación whatsapp</label>
                    <input name="confirmacionWhatsapp" type="checkbox">
                </div> -->
        
                <div class="submit-container">
                    <input class="btn btn-primary" type="submit" value="Confirmar Reserva">
                    <a class="btn btn-danger" href="http://127.0.0.1:8000/" role="button">Cancelar</a>
                </div>
            </form>
        </div>
    </body>
</div>



